{% extends 'layout.html' %}
{% block body %}

      <section>
        <div  class='row mt-3'>

            <div class='col-md-6 align-middle d-none d-md-block'>
                <img src="/static/img/bot.png" alt="" srcset="" style='height:320px; border-radius:5px'>
            </div>
        
            <div class=' col-md-6 '>
                <h1>About Lonely Bot</h1>
            <p class="lead">Having feeling of loneliness and isolation? Feeling lonely is a normal human experience. We all get alone and feel a little lonely sometimes.But it's over.....</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
            </p>
        
            </div>

        </div>


      </section>
{% endblock %}