{% extends 'layout.html' %}
{% block body %}
</div>
    <section class="vh-100" style="background-color: #5C636A;">
  <div class="container py-5 h-100"  >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem; background-color: #202428;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
              <h5 class="text-light fw-bold">Marie Horwitz</h5>
              <p class="text-light fw-bold fst-italic">Web Designer</p>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h5 class="text-light fw-bold">Information</h5>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6 class="text-light ">Email</h6>
                    <p class="text-light">info@example.com</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6 class="text-light">Phone</h6>
                    <p class="text-light">123 456 789</p>
                  </div>
                </div>
                <h5 class="text-light">Address</h5>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6 class="text-light">Recent</h6>
                    <p class="text-light">Lorem ipsum</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6 class="text-light ">Permanent</h6>
                    <p class="text-light">Dolor sit amet</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}